@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) repeat(12, minmax(11px, 120px)) minmax(5vw, 1fr);
}

.navigation {
  grid-column: 2/14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.nav_left .logo {
  width: 45px;
  height: 46px;
}
.nav_left h2 {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
}

.nav_middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.nav_middle ul li a {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.nav_middle ul li a:hover {
  color: #2196f3;
}
.nav_middle ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 55%;
  height: 3px;
  background-color: #2196f3;
}

.nav_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.nav_right ul li a {
  color: #302f2f;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.nav_right .register {
  border-radius: 8px;
  padding: 10px 20px;
  background: #2196f3;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.nav_right .settings {
  height: 29px;
  width: 29px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.vertical_line {
  border-left: 1px solid #000;
  height: 25px;
}

.hero {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) repeat(12, minmax(11px, 120px)) minmax(5vw, 1fr);
}

.hero_container {
  grid-column: 2/15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_text_container {
  margin-right: 46px;
}
.hero_text_container h1 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.hero_text_container p {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.hero_text_container .write {
  color: #00bcd4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  font-family: Roboto;
  color: #00bcd4;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 50px;
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  border-radius: 8px;
  border: 1px solid #00bcd4;
  background: #fff;
  -webkit-box-shadow: 0px 3px 24px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 3px 24px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.hero_text_container .write .btn_send {
  width: 21px;
  height: 21px;
}

.hero_banner {
  width: 691px;
  height: 416px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  margin-top: 50px;
  position: relative;
}
.hero_banner::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(132deg);
      -ms-transform: rotate(132deg);
          transform: rotate(132deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 140px;
  top: -677px;
  left: -937px;
  width: 1000px;
  height: 940px;
  background: #bbdefb;
  opacity: 0.1023;
}
.hero_banner::before {
  content: "";
  position: absolute;
  z-index: -2;
  -webkit-transform: rotate(132deg);
      -ms-transform: rotate(132deg);
          transform: rotate(132deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 140px;
  top: -667px;
  left: -917px;
  width: 1000px;
  height: 940px;
  background: #b2ebf2;
  opacity: 0.1023;
}

.resume {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) repeat(12, minmax(11px, 120px)) minmax(5vw, 1fr);
  justify-items: center;
}

.resume_container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2/14;
}
.resume_container h2 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  margin: 0;
  margin-bottom: 7px;
  cursor: pointer;
}
.resume_container h2:hover {
  color: #2196f3;
}
.resume_container p {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.vertical_text {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  height: 63px;
}

.business {
  margin-right: 30px;
}

.project {
  margin-left: 30px;
  margin-right: 30px;
}

.nulla {
  margin-left: 30px;
}

h2 {
  position: relative;
}
h2::after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 0;
  height: 6px;
  width: 50%;
  background: #2196f3;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
h2:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.main {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) repeat(12, minmax(11px, 120px)) minmax(5vw, 1fr);
}

.main_container {
  grid-column: 2/14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}

.bg_square {
  position: relative;
  width: 400px;
  height: 400px;
  background: #2196f3;
  opacity: 0.1023;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
  border-radius: 60px;
}

.mini_bg_square {
  position: absolute;
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
  top: 841px;
  left: 31px;
  z-index: -2;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #00bcd4;
  opacity: 0.0535;
}

.bg_about {
  position: absolute;
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
  top: 962px;
  left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: rgb(33, 150, 243);
  border-radius: 40px;
}
.bg_about h3 {
  -webkit-transform: rotate(230deg);
      -ms-transform: rotate(230deg);
          transform: rotate(230deg);
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  padding: 0 100px;
}

.bg_image_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
  top: 852px;
  left: 339px;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #00bcd4;
  opacity: 0.65;
}
.bg_image_one h3 {
  -webkit-transform: rotate(230deg);
      -ms-transform: rotate(230deg);
          transform: rotate(230deg);
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
}

.bg_image_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
  top: 1181px;
  left: 297px;
  border-radius: 15px;
  width: 120px;
  height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #00bcd4;
  opacity: 0.65;
}
.bg_image_two h3 {
  -webkit-transform: rotate(230deg);
      -ms-transform: rotate(230deg);
          transform: rotate(230deg);
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
}

.bg_border {
  border: 5px solid rgb(187, 222, 251);
  position: absolute;
  top: 1052px;
  left: 386px;
  -webkit-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
          transform: rotate(130deg);
  border-radius: 12px;
  height: 60px;
  width: 60px;
}

.right_main_container {
  margin-left: 200px;
}
.right_main_container h4 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 150% */
}
.right_main_container p {
  text-align: start;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.stats_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 175px;
  height: 164px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.card_right h3 {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
}
.card_right p {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 48px; /* 200% */
  text-transform: uppercase;
}

.employee::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 1196px;
  left: 731px;
  height: 10px;
  width: 70px;
  background: #2196f3;
}

.project::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 1196px;
  left: 900px;
  height: 10px;
  width: 70px;
  background: #2196f3;
}

.clients::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 1196px;
  left: 1076px;
  height: 10px;
  width: 70px;
  background: #2196f3;
}

.swiper_section {
  margin-top: 140px;
  background: rgba(33, 150, 243, 0.103);
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) repeat(12, minmax(11px, 120px)) minmax(5vw, 1fr);
  position: relative;
}

.swiper_container {
  grid-column: 1/-5;
}

.swiper_content h5 {
  width: 400px;
  margin-left: 65px;
  color: #0d47a1;
  font-family: Roboto;
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
}

.card_slide {
  background: white;
  width: 250px;
  height: 350px;
  border-radius: 20px;
}

.img_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 130px;
  width: 220px;
  border-radius: 20px;
  background: #651fff;
}
.img_slide h2 {
  color: white;
  font-size: 1.4rem;
}

.text_slide {
  padding: 100px 15px;
}
.text_slide h3 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_slide p {
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 217px;
  height: 39px;
  border-radius: 10px;
  border: 1px solid rgb(187, 222, 251);
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #0d47a1;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.swiper-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.swiper-btn-next .svg-next {
  background: white;
  border-radius: 100px;
  padding: 2px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.swiper-btn-prev .svg-prev {
  background: white;
  border-radius: 100px;
  padding: 2px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */