.swiper_section {
  margin-top: 140px;
  background: rgba(33, 150, 243, 0.103);
  @include container;
  position: relative;
}
.swiper_container {
  grid-column: 1/-5;
}
.swiper_content {
  h5 {
    width: 400px;
    margin-left: 65px;
    color: #0d47a1;
    font-family: Roboto;
    font-size: 52px;
    font-weight: 700;
    line-height: 78px;
  }
}

.card_slide {
  background: white;
  width: 250px;
  height: 350px;
  border-radius: 20px;
}

.img_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 130px;
  width: 220px;
  border-radius: 20px;
  background: #651fff;

  h2 {
    color: white;
    font-size: 1.4rem;
  }
}

.text_slide {
  padding: 100px 15px;

  h3 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  p {
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

.details {
  display: flex;
  width: 217px;
  height: 39px;
  border-radius: 10px;
  border: 1px solid rgba(187, 222, 251, 1);
  background: transparent;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #0d47a1;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.swiper-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.swiper-btn-next {
  .svg-next {
    background: white;
    border-radius: 100px;
    padding: 2px;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    cursor: pointer;
  }
}
.swiper-btn-prev {
  .svg-prev {
    background: white;
    border-radius: 100px;
    padding: 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
