.resume {
  @include container;
  justify-items: center;
}

.resume_container {
  margin-top: 80px;
  display: flex;
  grid-column: 2/14;
  h2 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    margin: 0;
    margin-bottom: 7px;
    cursor: pointer;

    &:hover {
      color: #2196f3;
    }
  }

  p {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
}

.vertical_text {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  height: 63px;
}

.business {
  margin-right: 30px;
}

.project {
  margin-left: 30px;
  margin-right: 30px;
}

.nulla {
  margin-left: 30px;
}

h2 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -45px; // Adjust this value as needed
    left: 0;
    height: 6px;
    width: 50%;
    background: #2196f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
